<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.intellicus.poc.plugin" version="0.0.1"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>IALPlugin</name>
	<js-module name="IALPlugin" src="www/IALPlugin.js">
		<clobbers target="IALPlugin" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="IALPlugin">
				<param name="android-package" value="com.intellicus.poc.plugin.IALPlugin" />
			</feature>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:label="Intellicus" android:name="com.intellicus.poc.plugin.IALSupporrtActivity"></activity>
			
			<activity android:name="com.intellicus.addcomment.CommentComposer" android:configChanges="keyboardHidden|orientation|keyboard|screenLayout|screenSize"  android:theme="@style/IntellicusTheme.Screen"></activity>
			
			<activity android:name="com.intellicus.android.OlapReportViewerActicity" android:hardwareAccelerated="true"  android:configChanges="keyboardHidden|orientation|keyboard|screenLayout|screenSize"   android:theme="@style/IntellicusTheme.Screen"></activity>
			
			<activity android:name="com.intellicus.android.RealTimeAdhocReportViewerActivity" android:configChanges="keyboardHidden|orientation|keyboard|screenLayout|screenSize" android:windowSoftInputMode="adjustPan" android:theme="@style/IntellicusTheme.Screen"
            android:hardwareAccelerated="true"/>
			
			
			
			 <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.asd.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.INTERNET"></uses-permission>
			<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml"></config-file>
		<source-file src="src/android/IALPlugin.java" target-dir="src/com/intellicus/poc/plugin" />
		<source-file src="src/android/IALSupporrtActivity.java" target-dir="src/com/intellicus/poc/plugin" />
		
		<source-file src="src/android/ial_support_activity.xml" target-dir="res/layout"/>
		<source-file src="src/android/custom_theme.xml" target-dir="res/values"/>
		<source-file src="src/android/IALApplication.java" target-dir="src/com/intellicus/poc/plugin/application" />
		<framework src="src/android/intellicusLib.gradle" custom="true" type="gradleReference"/>
		
		<framework src="com.android.support:support-v4:$ANDROID_SUPPORT_V4_VERSION"/>
		<framework src="com.android.support:appcompat-v7:27.+"/>
		<framework src="com.github.PhilJay:MPAndroidChart:v3.0.3"/>
		<framework src="com.android.support:cardview-v7:27.+"/>
		<framework src="com.android.support:recyclerview-v7:27.+"/>
		<framework src="org.apmem.tools:layouts:1.10@aar"/>
		<framework src="net.zetetic:android-database-sqlcipher:3.5.9@aar"/>
		<framework src="com.android.support.constraint:constraint-layout:1.1.3"/>
		<framework src="com.github.barteksc:android-pdf-viewer:3.1.0-beta.1"/>
		<framework src="org.wso2.orbit.joda-time:joda-time:2.9.4.wso2v1"/>
		<!--implementation files('libs/joda-time.jar')-->
		<lib-file src="src/android/intellicuslib.aar"/>
		<preference name="ANDROID_SUPPORT_V4_VERSION" default="27.+"/>
	</platform>
</plugin>